<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Rooms</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/rooms.css}" rel="stylesheet" />
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<table>
  <tr>
    <th>ID</th>
    <th>Capacity</th>
    <th>House</th>
    <th>Room Number</th>
  </tr>
  <tr th:each="room : ${rooms}">
    <td th:text="${room.getId()}"></td>
    <td th:text="${room.getCapacity()}"></td>
    <td th:text="${room.getHouseType()}"></td>
    <td th:text="${room.getRoomName()}"></td>

  </tr>
</table>
</body>
</html>